{% extends 'base.html' %}

{% block content %}
<div class="container-fluid my-5">
    <h2 class="text-center mb-4">Porcentaje de Pacientes por Grupo</h2>
    
    <div id="pie-chart" style="width: 100%; max-width: 800px; height: 500px; margin: 0 auto;"></div>

    <div class="container-fluid my-5">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Grupo</th>
                    <th>Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo, porcentaje in porcentaje_pacientes_por_grupo.items %}
                <tr>
                    <td>{{ grupo }}</td>
                    <td>{{ porcentaje|floatformat:2 }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-warning mr-2 mb-2" href="{% url 'home' %}">Página Principal</a>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Preparar los datos del gráfico de pastel
    var data = [{
        values: [{% for _, porcentaje in porcentaje_pacientes_por_grupo.items %}{{ porcentaje }},{% endfor %}],
        labels: [{% for grupo, _ in porcentaje_pacientes_por_grupo.items %}'{{ grupo }}',{% endfor %}],
        type: 'pie',
        textposition: 'outside',
        marker: {
            colors: ['#007bff', '#6c757d', '#28a745', '#dc3545', '#ffc107', '#343a40']
        }
    }];

    // Configurar el diseño del gráfico
    var layout = {
        height: 500,
        width: '100%',
        font: {
            size: 16,
            weight: 'bold'
        },
        textposition: 'middle center', // Posicionar las etiquetas automáticamente
        margin: {
            t: 50, // Margen superior
            b: 50, // Margen inferior
            l: 50, // Margen izquierdo
            r: 50 // Margen derecho
        }
    };

    // Generar el gráfico de pastel
    Plotly.newPlot('pie-chart', data, layout);
</script>

{% endblock %}
