{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card p-4">
		<h1 class="text-center">Eliminar Fecha de {{ paciente.nombre }} {{ paciente.apellidos }}</h1>
		<p class="text-center">
		¿Estás seguro de que deseas eliminar la fecha del {{ fecha.fecha_inicial}}?
		</p>
		<form method="post" class="mt-4">
		{% csrf_token %}
		<div class="d-flex justify-content-center ">
			<a class="btn btn-secondary mr-2" href="{% url 'ver_fechas_paciente' paciente.pk %}">Cancelar</a>
			
			<button type="submit" class="btn btn-danger">Eliminar</button>
		</div>
		</form>
	</div>
</div>
{% endblock %}