{% extends 'base.html' %} {% block content %}
<h1>Modificar Examen Físico General de {{ paciente.nombre }} {{ paciente.apellidos }}</h1>
<form method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="{{ form.descripcion.id_for_label }}">Descripción</label>
		<div class="input-group">
		<textarea class="form-control description-field" name="{{ form.descripcion.name }}" id="{{ form.descripcion.id_for_label }}">{{ form.descripcion.value|default_if_none:'' }}</textarea>
		</div>
	</div>
	
	<div class="d-flex justify-content-center">
		<button type="submit" class="btn btn-primary mr-2">Guardar</button>
		<a class="btn btn-warning mr-2" href="{% url 'ver_egeneral' paciente.pk fecha.pk %}">Volver</a>
	</div>
</form>


{% endblock %}
