{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h1 class="text-center my-4">Lista de Pacientes</h1>

	<div class="d-flex justify-content-between align-items-center mb-3">
		<form class="form-inline" method="GET" action="{% url 'lista_pacientes' %}">
		<div class="form-group mr-2">
			<input type="text" class="form-control" name="search" placeholder="Buscar paciente" value="{{ request.GET.search }}" />
		</div>
		<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
		{% if perms.Historia.change_paciente %}
		<a class="btn btn-success mr-2" href="{% url 'crear_paciente' %}">Añadir Paciente</a>
		{% endif %}
	</div>

	<table class="table table-striped table-hover">
		<thead class="thead-dark">
		<tr>
			<th>CI</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Teléfono</th>
			<th>Dirección</th>
			<th>Sexo</th>
			<th>Raza</th>
			<th>Edad</th>
			{% if perms.Historia.change_paciente %}
			<th>Acciones</th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for paciente in pacientes %}
		<tr>
			<td>{{ paciente.ci }}</td>
			<td>
			<a href="{% url 'ver_fechas_paciente' paciente.pk %}" class="text-primary font-weight-bold">{{ paciente.nombre }}</a>
			</td>
			<td>{{ paciente.apellidos }}</td>
			<td>{{ paciente.telefono }}</td>
			<td>{{ paciente.direccion }}</td>
			<td>{{ paciente.get_sexo_display }}</td>
			<td>{{ paciente.get_raza_display }}</td>
			<td>{{ paciente.edad }}</td>
			{% if perms.Historia.change_paciente %}
			<td>
			<a href="{% url 'modificar_paciente' paciente.pk %}" class="btn btn-primary btn-sm mr-2">Modificar</a>
			<a href="{% url 'eliminar_paciente' paciente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="text-center">
		<a class="btn btn-warning" href="{% url 'home' %}">Pagina Principal</a>
	</div>

	{# Mostrar los enlaces de paginación #}
	<div class="pagination d-flex justify-content-center my-4">
		<span class="step-links">
		{% if pacientes.has_previous %}
		<a href="?page=1" class="btn btn-outline-primary btn-sm mr-2">&laquo; Primera</a>
		<a href="?page={{ pacientes.previous_page_number }}" class="btn btn-outline-primary btn-sm mr-2">Anterior</a>
		{% endif %}

		<span class="current text-muted">
			Página {{ pacientes.number }} de {{ pacientes.paginator.num_pages }}.
		</span>

		{% if pacientes.has_next %}
		<a href="?page={{ pacientes.next_page_number }}" class="btn btn-outline-primary btn-sm ml-2">Siguiente</a>
		<a href="?page={{ pacientes.paginator.num_pages }}" class="btn btn-outline-primary btn-sm ml-2">Última &raquo;</a>
		{% endif %}
		</span>
	</div>
</div>
{% endblock %}