{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Modificar Examen Fisico Por Aparato de {{ paciente.nombre }} {{ paciente.apellidos }}</h1>

<style>
	.required-field {
		color: red;
		font-weight: bold;
	}

	textarea::placeholder {
		color: red;
		font-weight: bold;
	}
	.container{
		background: #f2f2f2;
	}
	.flex-container {
	display: flex;
	justify-content: center;
	}
</style>
<form method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h4>Piel y Mucosa</h4>
        </div>
        <div class="form-group">
            <h6 for="pym_humedo">Piel Húmeda</h6>
            <select class="form-control" id="pym_humedo" name="pym_humedo">
                <option value="S" {% if efaparato.pym_humedo == 'S' %}selected{% endif %}>Húmeda</option>
                <option value="N" {% if efaparato.pym_humedo == 'N' %}selected{% endif %}>No es Húmeda</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="pym_coloreado">Piel Normocoloreado</h6>
            <select class="form-control" id="pym_coloreado" name="pym_coloreado">
                <option value="S" {% if efaparato.pym_coloreado == 'S' %}selected{% endif %}>Normocoloreado</option>
                <option value="N" {% if efaparato.pym_coloreado == 'N' %}selected{% endif %}>No es Normocoloreado</option>
            </select>
        </div>        

        <div class="form-group">
            <h6 for="descripcion_pym">Descripción Piel y Mucosa</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_pym" name="descripcion_pym">{{ efaparato.descripcion_pym }}</textarea>
        </div>
        <hr />
        <div class="text-center">
            <h4>TCS</h4>
        </div>
        <div class="form-group">
            <h6 for="tvs">Tejido Celular Subcutáneo</h6>
            <select class="form-control" id="tvs" name="tvs">
                <option value="N" {% if efaparato.tvs == 'N' %}selected{% endif %}>No Infiltrado</option>
                <option value="S" {% if efaparato.tvs == 'S' %}selected{% endif %}>Infiltrado</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_tvs">Descripción Tejido Celular Subcutáneo</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_tvs" name="descripcion_tvs">{{ efaparato.descripcion_tvs }}</textarea>
        </div>
        <hr />
        <div class="text-center">
            <h4>Aparato Respiratorio</h4>
        </div>
        <div class="form-group">
            <h6 for="inspeccion_respiratoria">Inspección Respiratoria</h6>
            <select class="form-control" id="inspeccion_respiratoria" name="inspeccion_respiratoria">
                <option value="N" {% if efaparato.inspeccion_respiratoria == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.inspeccion_respiratoria == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="palpacion_respiratoria">Palpación Respiratoria</h6>
            <select class="form-control" id="palpacion_respiratoria" name="palpacion_respiratoria">
                <option value="N" {% if efaparato.palpacion_respiratoria == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.palpacion_respiratoria == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="percusion_respiratoria">Percusión Respiratoria</h6>
            <select class="form-control" id="percusion_respiratoria" name="percusion_respiratoria">
                <option value="N" {% if efaparato.percusion_respiratoria == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.percusion_respiratoria == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="auscultacion_respiratoria">Auscultación Respiratoria</h6>
            <select class="form-control" id="auscultacion_respiratoria" name="auscultacion_respiratoria">
                <option value="N" {% if efaparato.auscultacion_respiratoria == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.auscultacion_respiratoria == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_respiratoria">Descripción Respiratoria</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_respiratoria" name="descripcion_respiratoria">{{ efaparato.descripcion_respiratoria }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="frecuencia_respiratoria">Frecuencia Respiratoria (Valor normal entre 16/20) </h6>
            <input type="text" placeholder="Valor entre 10 y 30 (Respiraciones por Minuto)" class="form-control" id="frecuencia_respiratoria" name="frecuencia_respiratoria" oninput="validateRespiratoryRate()" value="{{ efaparato.frecuencia_respiratoria }}" required>
            <div class="invalid-feedback">Por favor, ingrese un valor de frecuencia respiratoria válido entre 10 y 30 respiraciones por minuto.</div>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_frecuencia_respiratoria">Descripción Frecuencia Respiratoria</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enable-descripcion_frecuencia_respiratoria" {% if efaparato.descripcion_frecuencia_respiratoria %}checked{% endif %}>
                <label class="form-check-label" for="enable-descripcion_frecuencia_respiratoria">
                    Habilitar campo de descripción
                </label>
            </div>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_frecuencia_respiratoria" name="descripcion_frecuencia_respiratoria" {% if not efaparato.descripcion_frecuencia_respiratoria %}disabled{% endif %} required>{{ efaparato.descripcion_frecuencia_respiratoria }}</textarea>
        </div>
        <hr />
        <div class="text-center">
            <h4>Aparato Cardiovascular</h4>
        </div>
        <div class="form-group">
            <h6 for="inspeccion_cardiovascular">Inspección Cardiovascular</h6>
            <select class="form-control" id="inspeccion_cardiovascular" name="inspeccion_cardiovascular">
                <option value="N" {% if efaparato.inspeccion_cardiovascular == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.inspeccion_cardiovascular == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="palpacion_cardiovascular">Palpación Cardiovascular</h6>
            <select class="form-control" id="palpacion_cardiovascular" name="palpacion_cardiovascular">
                <option value="N" {% if efaparato.palpacion_cardiovascular == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.palpacion_cardiovascular == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="percusion_cardiovascular">Percusión Cardiovascular</h6>
            <select class="form-control" id="percusion_cardiovascular" name="percusion_cardiovascular">
                <option value="N" {% if efaparato.percusion_cardiovascular == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.percusion_cardiovascular == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="auscultacion_cardiovascular">Auscultación Cardiovascular</h6>
            <select class="form-control" id="auscultacion_cardiovascular" name="auscultacion_cardiovascular">
                <option value="N" {% if efaparato.auscultacion_cardiovascular == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.auscultacion_cardiovascular == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_cardiovascular">Descripción Cardiovascular</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_cardiovascular" name="descripcion_cardiovascular">{{ efaparato.descripcion_cardiovascular }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="frecuencia_cardiaca">Frecuencia Cardiaca ( Valor Normal entre 60/100 )</h6>
            <input type="text" placeholder="Valor entre 50 y 120 (Latidos por Minuto)" class="form-control" id="frecuencia_cardiaca" name="frecuencia_cardiaca" value="{{ efaparato.frecuencia_cardiaca }}" required>
            <div class="invalid-feedback">Por favor, ingrese una frecuencia cardíaca válida entre 50 y 120 latidos por minuto.</div>
        </div>
        
        <div class="form-group">
            <h6 for="presion_arterial">Presión Arterial</h6>
            <input type="text" placeholder="Formato de Entrada XX/YY (Valores XX>80 y YY<140)" class="form-control" id="presion_arterial" name="presion_arterial" value="{{ efaparato.presion_arterial }}" required>
            <div class="invalid-feedback">Por favor, ingrese una presión arterial válida en formato XX/YY (donde XX es la presión sistólica y YY es la presión diastólica).</div>
        </div>
        
        <div class="form-group">
                <h6 for="pulso">Pulso</h6>
                <select class="form-control" id="pulso" name="pulso">
                    <option value="P" {% if efaparato.pulso == 'P' %}selected{% endif %}>Presente</option>
                    <option value="N" {% if efaparato.pulso == 'N' %}selected{% endif %}>No Presente</option>
                </select>
            </div>
        
        <div class="form-group">
            <h6 for="descripcion_fpp">Descripción F-P-P</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enable-descripcion-fpp" {% if efaparato.descripcion_fpp %}checked{% endif %}>
                <label class="form-check-label" for="enable-descripcion-fpp">
                    Habilitar campo de descripción
                </label>
            </div>
            <textarea class="form-control" id="descripcion_fpp" name="descripcion_fpp" {% if not efaparato.descripcion_fpp %}disabled{% endif %} required>{{ efaparato.descripcion_fpp }}</textarea>
        </div>
        <hr />
        <div class="text-center">
            <h4>Abdomen</h4>
        </div>
        <div class="form-group">
            <h6 for="inspeccion_abdominal">Inspección Abdominal</h6>
            <select class="form-control" id="inspeccion_abdominal" name="inspeccion_abdominal">
                <option value="N" {% if efaparato.inspeccion_abdominal == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.inspeccion_abdominal == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="palpacion_abdominal">Palpación Abdominal</h6>
            <select class="form-control" id="palpacion_abdominal" name="palpacion_abdominal">
                <option value="N" {% if efaparato.palpacion_abdominal == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.palpacion_abdominal == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="auscultacion_abdominal">Auscultación Abdominal</h6>
            <select class="form-control" id="auscultacion_abdominal" name="auscultacion_abdominal">
                <option value="N" {% if efaparato.auscultacion_abdominal == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.auscultacion_abdominal == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="percusion_abdominal">Percusión Abdominal</h6>
            <select class="form-control" id="percusion_abdominal" name="percusion_abdominal">
                <option value="N" {% if efaparato.percusion_abdominal == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.percusion_abdominal == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_abdominal">Descripción Abdominal</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_abdominal" name="descripcion_abdominal">{{ efaparato.descripcion_abdominal }}</textarea>
        </div>
        
    </div>

    <div class="col-md-6" style="border-left: 1px solid #ccc; padding-left: 20px; padding-left: 20px;">
        
        <div class="text-center">
            <h4>Sistema Nervioso Central</h4>
        </div>
        <div class="form-group">
            <h6 for="conciente">Conciente</h6>
            <select class="form-control" id="conciente" name="conciente">
                <option value="S" {% if efaparato.conciente == 'S' %}selected{% endif %}>Sí</option>
                <option value="N" {% if efaparato.conciente == 'N' %}selected{% endif %}>No</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="orientado">Orientado</h6>
            <select class="form-control" id="orientado" name="orientado">
                <option value="S" {% if efaparato.orientado == 'S' %}selected{% endif %}>Sí</option>
                <option value="N" {% if efaparato.orientado == 'N' %}selected{% endif %}>No</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_sn_central">Descripción Conciente-Orientado</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_sn_central" name="descripcion_sn_central">{{ efaparato.descripcion_sn_central }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="signos_maningeos">Signos Maningeos</h6>
            <select class="form-control" id="signos_maningeos" name="signos_maningeos">
                <option value="N" {% if efaparato.signos_maningeos == 'N' %}selected{% endif %}>No</option>
                <option value="S" {% if efaparato.signos_maningeos == 'S' %}selected{% endif %}>Sí</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_signos_maningeos">Descripción Signos Maningeos</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_signos_maningeos" name="descripcion_signos_maningeos">{{ efaparato.descripcion_signos_maningeos }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="pares_craneales">Pares Craneales</h6>
            <select class="form-control" id="pares_craneales" name="pares_craneales">
                <option value="N" {% if efaparato.pares_craneales == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.pares_craneales == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_pares_craneales">Descripción Pares Craneales</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_pares_craneales" name="descripcion_pares_craneales">{{ efaparato.descripcion_pares_craneales }}</textarea>
        </div>
        <hr />
        <div class="text-center">
            <h4>Examenes</h4>
        </div>
        <div class="form-group">
            <h6 for="soma">Soma</h6>
            <select class="form-control" id="soma" name="soma">
                <option value="N" {% if efaparato.soma == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.soma == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_soma">Descripción Soma</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_soma" name="descripcion_soma">{{ efaparato.descripcion_soma }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="genital_urinario">Genital Urinario</h6>
            <select class="form-control" id="genital_urinario" name="genital_urinario">
                <option value="N" {% if efaparato.genital_urinario == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.genital_urinario == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="genital_urinario_descripcion">Descripción Genital Urinario</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="genital_urinario_descripcion" name="genital_urinario_descripcion">{{ efaparato.genital_urinario_descripcion }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="mamas_simetricas">Mamas Simétricas</h6>
            <select class="form-control" id="mamas_simetricas" name="mamas_simetricas">
                <option value="S" {% if efaparato.mamas_simetricas == 'S' %}selected{% endif %}>Sí</option>
                <option value="N" {% if efaparato.mamas_simetricas == 'N' %}selected{% endif %}>No</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="mamas_simetricas_descripcion">Descripción Mamas Simétricas</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="mamas_simetricas_descripcion" name="mamas_simetricas_descripcion">{{ efaparato.mamas_simetricas_descripcion }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="mamas_nodulos">Nódulos</h6>
            <select class="form-control" id="mamas_nodulos" name="mamas_nodulos">
                <option value="N" {% if efaparato.mamas_nodulos == 'N' %}selected{% endif %}>No</option>
                <option value="S" {% if efaparato.mamas_nodulos == 'S' %}selected{% endif %}>Sí</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="mamas_nodulos_descripcion">Descripción Nódulos</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="mamas_nodulos_descripcion" name="mamas_nodulos_descripcion">{{ efaparato.mamas_nodulos_descripcion }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="estado_pezon">Estado Pezón</h6>
            <select class="form-control" id="estado_pezon" name="estado_pezon">
                <option value="N" {% if efaparato.estado_pezon == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.estado_pezon == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="estado_pezon_descripcion">Descripción Pezón</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="estado_pezon_descripcion" name="estado_pezon_descripcion">{{ efaparato.estado_pezon_descripcion }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="estado_axila">Estado Axilas</h6>
            <select class="form-control" id="estado_axila" name="estado_axila">
                <option value="N" {% if efaparato.estado_axila == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.estado_axila == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="estado_axila_descripcion">Descripción Axilas</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="estado_axila_descripcion" name="estado_axila_descripcion">{{ efaparato.estado_axila_descripcion }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="genital_externo">Genitales Externos</h6>
            <select class="form-control" id="genital_externo" name="genital_externo">
                <option value="N" {% if efaparato.genital_externo == 'N' %}selected{% endif %}>Normal</option>
                <option value="P" {% if efaparato.genital_externo == 'P' %}selected{% endif %}>Patológico</option>
            </select>
        </div>
        
        <div class="form-group">
            <h6 for="descripcion_genital_externo">Descripción Genitales Externos</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="descripcion_genital_externo" name="descripcion_genital_externo">{{ efaparato.descripcion_genital_externo }}</textarea>
        </div>
        
        <div class="form-group">
            <h6 for="peso">Peso (Kg)</h6>
            <input type="text" placeholder="Campo Obligatorio (El valor será tomado en Kg)" class="form-control" id="peso" oninput="calculateBMI()" name="peso" value="{{ efaparato.peso }}" required>
            <div class="invalid-feedback">Por favor, ingrese un peso válido entre 0 y 500 kg.</div>
        </div>
        
        <div class="form-group">
            <h6 for="talla">Talla (Cm)</h6>
            <input type="text" placeholder="Campo Obligatorio (El valor será tomado en Cm)" class="form-control" id="talla" oninput="calculateBMI()" name="talla" value="{{ efaparato.talla }}" required>
            <div class="invalid-feedback">Por favor, ingrese una talla válida entre 100 y 250 cm.</div>
        </div>
        
        <div class="form-group">
            <h6 for="indice_corporal">Índice Corporal</h6>
            <input type="text" class="form-control" id="indice_corporal" name="indice_corporal" value="{{ efaparato.indice_corporal }}" readonly>
        </div>
        
        <div class="form-group">
            <label for="grupo">Seleccionar Grupo</label>
            <select class="form-control" id="grupo" name="grupo" required>
                <option value="">Seleccione un grupo</option>
                {% for grupo in grupos %}
                <option value="{{ grupo.id }}" {% if efaparato.grupo == grupo.id %}selected{% endif %}>{{ grupo.grupo }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Por favor, seleccione un grupo.</div>
        </div>
        
        <div class="form-group">
            <h6 for="orientacion">Orientación</h6>
            <textarea placeholder="Campo Obligatorio" class="form-control" id="orientacion" name="orientacion" required>{{ efaparato.orientacion }}</textarea>
            <div class="invalid-feedback">Por favor, ingrese la orientación proporcionada por el médico.</div>
        </div>
        
        <div class="form-group">
            <h6 for="proxima_cita">Próxima Cita</h6>
            <input type="date" class="form-control" id="proxima_cita" name="proxima_cita" value="{{ efaparato.proxima_cita }}" required>
            <div class="invalid-feedback">Por favor, seleccione una fecha válida para la próxima cita.</div>
        </div>
        
    </div>
</div>
<hr style="height:3px;border-width:0;color:gray;background-color:gray">
<div class="flex-container" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <button type="submit" class="btn btn-primary" style="width: 150px; background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-right: 10px;">Guardar</button>
    <button type="button" class="btn btn-warning" onclick="window.history.back()" style="padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Volver</button>
</div>

</form>
<script>
    // Obtener referencias a los elementos HTML
const pymHumedoSelect = document.getElementById('pym_humedo');
const pymColoreadoSelect = document.getElementById('pym_coloreado');
const descripcionPymInput = document.getElementById('descripcion_pym');

const tvsSelect = document.getElementById('tvs');
const descripciontvsInput = document.getElementById('descripcion_tvs');

const inspeccion_respiratoriaSelect =  document.getElementById('inspeccion_respiratoria');
const palpacion_respiratoriaSelect = document.getElementById('palpacion_respiratoria');
const percusion_respiratoriaSelect =  document.getElementById('percusion_respiratoria');
const auscultacion_respiratoriaSelect =   document.getElementById('auscultacion_respiratoria');
const descripcion_respiratoriaInput = document.getElementById('descripcion_respiratoria');
const frecuenciaRespiratoria = document.getElementById('frecuencia_respiratoria');
const enableDescripcionFrecuenciaRespiratoria = document.getElementById('enable-descripcion_frecuencia_respiratoria');
const descripcionFrecuenciaRespiratoria = document.getElementById('descripcion_frecuencia_respiratoria');

const inspeccion_cardiovascularSelect = document.getElementById('inspeccion_cardiovascular');
const palpacion_cardiovascularSelect = document.getElementById('palpacion_cardiovascular');
const percusion_cardiovascularSelect = document.getElementById('percusion_cardiovascular');
const auscultacion_cardiovascularSelect = document.getElementById('auscultacion_cardiovascular');
const descripcion_cardiovascularInput = document.getElementById('descripcion_cardiovascular');

const heartRateInput = document.getElementById('frecuencia_cardiaca');
const bloodPressureInput = document.getElementById('presion_arterial');
const pulseInput = document.getElementById('pulso');
const descripcion_fppInput = document.getElementById('descripcion_fpp');
const enableDescripcionFPPCheckbox = document.getElementById('enable-descripcion-fpp');

const inspeccion_abdominalSelect = document.getElementById('inspeccion_abdominal');
const palpacion_abdominalSelect = document.getElementById('palpacion_abdominal');
const auscultacion_abdominalSelect = document.getElementById('auscultacion_abdominal');
const percusion_abdominalSelect = document.getElementById('percusion_abdominal');
const descripcion_abdominalInput = document.getElementById('descripcion_abdominal');

const concienteSelect = document.getElementById('conciente');
const orientadoSelect = document.getElementById('orientado');
const descripcion_sn_centralInput = document.getElementById('descripcion_sn_central');

const signos_maningeosSelect = document.getElementById('signos_maningeos');
const descripcion_signos_maningeosInput = document.getElementById('descripcion_signos_maningeos');

const pares_cranealesSelect = document.getElementById('pares_craneales');
const descripcion_pares_cranealesInput = document.getElementById('descripcion_pares_craneales');

const somaSelect = document.getElementById('soma');
const descripcion_somaInput = document.getElementById('descripcion_soma');

const genital_urinarioSelect = document.getElementById('genital_urinario');
const genital_urinario_descripcionInput = document.getElementById('genital_urinario_descripcion');

const mamas_simetricasSelect = document.getElementById('mamas_simetricas');
const mamas_simetricas_descripcionInput = document.getElementById('mamas_simetricas_descripcion');

const mamas_nodulosSelect = document.getElementById('mamas_nodulos');
const mamas_nodulos_descripcionInput = document.getElementById('mamas_nodulos_descripcion');

const estado_pezonSelect = document.getElementById('estado_pezon');
const estado_pezon_descripcionInput = document.getElementById('estado_pezon_descripcion');

const estado_axilaSelect = document.getElementById('estado_axila');
const estado_axila_descripcionInput = document.getElementById('estado_axila_descripcion');

const genital_externoSelect = document.getElementById('genital_externo');
const descripcion_genital_externoInput = document.getElementById('descripcion_genital_externo');

const pesoInput = document.getElementById('peso');
const tallaInput = document.getElementById('talla');
const orientacionInput = document.getElementById('orientacion');
const proxCitaInput = document.getElementById('proxima_cita');
// Desactivar descripcionPymInput por defecto
descripcionPymInput.disabled = true;
descripcionPymInput.placeholder = "";
descripciontvsInput.disabled = true;
descripciontvsInput.placeholder = "";
descripcion_respiratoriaInput.disabled = true;
descripcion_respiratoriaInput.placeholder = "";
descripcion_cardiovascularInput.disabled = true;
descripcion_cardiovascularInput.placeholder = "";
descripcion_abdominalInput.disabled = true;
descripcion_abdominalInput.placeholder = "";
descripcion_sn_centralInput.disabled = true
descripcion_sn_centralInput.placeholder = "";
descripcion_signos_maningeosInput.disabled = true
descripcion_signos_maningeosInput.placeholder = "";
descripcion_pares_cranealesInput.disabled = true
descripcion_pares_cranealesInput.placeholder = "";
descripcion_somaInput.disabled = true
descripcion_somaInput.placeholder = "";
genital_urinario_descripcionInput.disabled = true
genital_urinario_descripcionInput.placeholder = "";
mamas_simetricas_descripcionInput.disabled = true
mamas_simetricas_descripcionInput.placeholder = "";
mamas_nodulos_descripcionInput.disabled = true
mamas_nodulos_descripcionInput.placeholder = "";
estado_pezon_descripcionInput.disabled = true
estado_pezon_descripcionInput.placeholder = "";
estado_axila_descripcionInput.disabled = true
estado_axila_descripcionInput.placeholder = "";
descripcion_genital_externoInput.disabled = true
descripcion_genital_externoInput.placeholder = "";
// Agregar un event listener a los campos select
pymHumedoSelect.addEventListener('change', validatePymDescription);
pymColoreadoSelect.addEventListener('change', validatePymDescription);
tvsSelect.addEventListener('change', validatetvsDescription);

inspeccion_respiratoriaSelect.addEventListener('change', validatedescripcion_respiratoria);
palpacion_respiratoriaSelect.addEventListener('change', validatedescripcion_respiratoria);
percusion_respiratoriaSelect.addEventListener('change', validatedescripcion_respiratoria);
auscultacion_respiratoriaSelect.addEventListener('change', validatedescripcion_respiratoria);
descripcion_respiratoriaInput.addEventListener('change', validatedescripcion_respiratoria);
frecuenciaRespiratoria.addEventListener('input', validateFrecuenciaRespiratoria);
enableDescripcionFrecuenciaRespiratoria.addEventListener('change', toggleDescripcionFrecuenciaRespiratoria);

inspeccion_cardiovascularSelect.addEventListener('change', validatedescripcion_cardiovascular);
palpacion_cardiovascularSelect.addEventListener('change', validatedescripcion_cardiovascular);
percusion_cardiovascularSelect.addEventListener('change', validatedescripcion_cardiovascular);
auscultacion_cardiovascularSelect.addEventListener('change', validatedescripcion_cardiovascular);

heartRateInput.addEventListener('input', validateHeartRate);
bloodPressureInput.addEventListener('input', validateBloodPressure);
pulseInput.addEventListener('change', validatePulse);

inspeccion_abdominalSelect.addEventListener('change', validatedescripcion_abdominal);
palpacion_abdominalSelect.addEventListener('change', validatedescripcion_abdominal);
auscultacion_abdominalSelect.addEventListener('change', validatedescripcion_abdominal);
percusion_abdominalSelect.addEventListener('change', validatedescripcion_abdominal);

concienteSelect.addEventListener('change', validateCOrientadoDescription);
orientadoSelect.addEventListener('change', validateCOrientadoDescription);
descripcion_sn_centralInput.addEventListener('change', validateCOrientadoDescription);

signos_maningeosSelect.addEventListener('change', validatesignosmaningeos)
descripcion_signos_maningeosInput.addEventListener('change', validatesignosmaningeos)

pares_cranealesSelect.addEventListener('change', validateparescraneales)
descripcion_pares_cranealesInput.addEventListener('change', validateparescraneales)

somaSelect.addEventListener('change', validatesoma)
descripcion_somaInput.addEventListener('change', validatesoma)

genital_urinarioSelect.addEventListener('change', validategenital_urinario)
genital_urinario_descripcionInput.addEventListener('change', validategenital_urinario)

mamas_simetricasSelect.addEventListener('change', validatemamas_simetricas)
mamas_simetricas_descripcionInput.addEventListener('change', validatemamas_simetricas)

mamas_nodulosSelect.addEventListener('change', validatemamas_nodulos)
mamas_nodulos_descripcionInput.addEventListener('change', validatemamas_nodulos)

estado_pezonSelect.addEventListener('change', validateestado_pezon)
estado_pezon_descripcionInput.addEventListener('change', validateestado_pezon)

estado_axilaSelect.addEventListener('change', validateestado_axila)
estado_axila_descripcionInput.addEventListener('change', validateestado_axila)

genital_externoSelect.addEventListener('change', validategenital_externo)
descripcion_genital_externoInput.addEventListener('change', validategenital_externo)

pesoInput.addEventListener('input', validatePeso);
tallaInput.addEventListener('input', validateTalla);
orientacionInput.addEventListener('input', validateOrientacion);
proxCitaInput.addEventListener('input', validateProximaCita);
    //Funciones

    //Piel y Mucosa
    function validatePymDescription() {
    // Verificar si alguno de los campos select tiene el valor "N"
    if (pymHumedoSelect.value === 'N' || pymColoreadoSelect.value === 'N') {
        // Hacer que el campo de texto sea obligatorio
        descripcionPymInput.required = true;
        descripcionPymInput.disabled = false;
        descripcionPymInput.placeholder = "Campo Obligatorio";
        
        
    } else {
        // Hacer que el campo de texto no sea obligatorio
        descripcionPymInput.required = false;
        descripcionPymInput.disabled = true
        descripcionPymInput.value = "";
        descripcionPymInput.placeholder = "";
    }
    }
    //Tejido Celular Subcutaneo
    function validatetvsDescription() {
    // Verificar si alguno de los campos select tiene el valor "N"
    if (tvsSelect.value === 'S') {
        // Hacer que el campo de texto sea obligatorio
        descripciontvsInput.required = true;
        descripciontvsInput.disabled = false;
        descripciontvsInput.placeholder = "Campo Obligatorio";
    } else {
        // Hacer que el campo de texto no sea obligatorio
        descripciontvsInput.required = false;
        descripciontvsInput.disabled = true
        descripciontvsInput.placeholder = "";
    }
    }
    // Aparato Respiratorio
    function validatedescripcion_respiratoria() {
        // Verificar si alguno de los campos select tiene el valor "N"
        if (inspeccion_respiratoriaSelect.value === 'P' || palpacion_respiratoriaSelect.value === 'P' || percusion_respiratoriaSelect.value === 'P'|| auscultacion_respiratoriaSelect.value === 'P') {
            // Hacer que el campo de texto sea obligatorio
            descripcion_respiratoriaInput.required = true;
            descripcion_respiratoriaInput.disabled = false;
            descripcion_respiratoriaInput.placeholder = "Campo Obligatorio";
            
            
        } else {
            // Hacer que el campo de texto no sea obligatorio
            descripcion_respiratoriaInput.required = false;
            descripcion_respiratoriaInput.disabled = true
            descripcion_respiratoriaInput.value = "";
            descripcion_respiratoriaInput.placeholder = "";
        }
    }
    //FrecuenciaRespiratoria
    function validateFrecuenciaRespiratoria() {
        const frecuenciaRespiratoria = this.value.trim();
    
        // Verificar si el valor ingresado son solo números
        if (!/^\d+$/.test(frecuenciaRespiratoria)) {
            this.classList.add('is-invalid');
            return;
            }
        
            const frecuenciaRespiratoriaNumber = parseInt(frecuenciaRespiratoria);
        
            // Verificar si el valor está dentro del rango válido
            if (isNaN(frecuenciaRespiratoriaNumber) || frecuenciaRespiratoriaNumber < 10 || frecuenciaRespiratoriaNumber > 30) {
            this.classList.add('is-invalid');
            } else {
            this.classList.remove('is-invalid');
            }
        }
        function validateRespiratoryRate() {
            const respiratoryRateInput = document.getElementById("frecuencia_respiratoria");
            const descriptionTextarea = document.getElementById("descripcion_frecuencia_respiratoria");
            const respiratoryRate = parseFloat(respiratoryRateInput.value);

            if (isNaN(respiratoryRate) || respiratoryRate < 10 || respiratoryRate > 30) {
                respiratoryRateInput.classList.add("is-invalid");
                descriptionTextarea.disabled = false;
                } else {
                respiratoryRateInput.classList.remove("is-invalid");
                if (respiratoryRate < 16 || respiratoryRate > 20) {
                descriptionTextarea.disabled = false;
                } else {
                descriptionTextarea.disabled = true;
                descriptionTextarea.value = "";
                descriptionTextarea.placeholder = "";
                }
            }
        }
        function toggleDescripcionFrecuenciaRespiratoria() {
            if (this.checked) {
                descripcionFrecuenciaRespiratoria.disabled = false;
                descripcionFrecuenciaRespiratoria.required = true;
                } else {
                descripcionFrecuenciaRespiratoria.disabled = true;
                descripcionFrecuenciaRespiratoria.required = false;
                }
            }
    // Aparato Cardiovascular
    function validatedescripcion_cardiovascular() {
        // Verificar si alguno de los campos select tiene el valor "N"
        if (inspeccion_cardiovascularSelect.value === 'P' || palpacion_cardiovascularSelect.value === 'P' || percusion_cardiovascularSelect.value === 'P'|| auscultacion_cardiovascularSelect.value === 'P') {
            // Hacer que el campo de texto sea obligatorio
            descripcion_cardiovascularInput.required = true;
            descripcion_cardiovascularInput.disabled = false;
            descripcion_cardiovascularInput.placeholder = "Campo Obligatorio";
            
            
        } else {
            // Hacer que el campo de texto no sea obligatorio
            descripcion_cardiovascularInput.required = false;
            descripcion_cardiovascularInput.disabled = true
            descripcion_cardiovascularInput.value = "";
            descripcion_cardiovascularInput.placeholder = "";
        }
    }
    //Frecuencia Cardiaca 
    function validateHeartRate() {
        const heartRateInput = document.getElementById("frecuencia_cardiaca");
        const descriptionTextarea = document.getElementById("descripcion_fpp");
        const heartRate = parseFloat(heartRateInput.value);

        if (isNaN(heartRate) || heartRate < 50 || heartRate > 120) {
            heartRateInput.classList.add("is-invalid");
            descriptionTextarea.disabled = false;
        } else {
            heartRateInput.classList.remove("is-invalid");
            if (heartRate < 60 || heartRate > 100) {
                descriptionTextarea.disabled = false;
            } else {
                
            }
        }
    }
        //Presion Arterial
        function validateBloodPressure() {
            const bloodPressureValue = bloodPressureInput.value.trim();
            
            // Verificar si el valor ingresado tiene el formato correcto (XX/YY)
            const bloodPressureRegex = /^\d{2,3}\/\d{2,3}$/;
            if (!bloodPressureRegex.test(bloodPressureValue)) {
                bloodPressureInput.classList.add('is-invalid');
                return;
            }
            
            // Separar la presión sistólica y diastólica
            const [systolic, diastolic] = bloodPressureValue.split('/').map(Number);
            
            // Verificar si los valores están dentro del rango válido
            if (isNaN(systolic) || isNaN(diastolic) || systolic < 80 || systolic > 220 || diastolic < 40 || diastolic > 140) {
                bloodPressureInput.classList.add('is-invalid');
            } else {
                bloodPressureInput.classList.remove('is-invalid');
            }
            }
        //Pulso
        function validatePulse() {
            // Verificar si alguno de los campos select tiene el valor "N"
            if (pulseInput.value === 'N') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_fppInput.required = true;
                descripcion_fppInput.disabled = false;
                descripcion_fppInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_fppInput.required = false;
                descripcion_fppInput.disabled = true
                descripcion_fppInput.value = "";
                descripcion_fppInput.placeholder = "";
            }
            }
        enableDescripcionFPPCheckbox.addEventListener('change', enableDescripcion);

        function enableDescripcion() {
            descripcion_fppInput.disabled = !this.checked;
            descripcion_fppInput.required = this.checked;
        }

        // Abdomen
        function validatedescripcion_abdominal() {
            // Verificar si alguno de los campos select tiene el valor "N"
            if (inspeccion_abdominalSelect.value === 'P' || palpacion_abdominalSelect.value === 'P' || auscultacion_abdominalSelect.value === 'P' || percusion_abdominalSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_abdominalInput.required = true;
                descripcion_abdominalInput.disabled = false;
                descripcion_abdominalInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_abdominalInput.required = false;
                descripcion_abdominalInput.disabled = true
                descripcion_abdominalInput.value = "";
                descripcion_abdominalInput.placeholder = "";
            }
        }
        //Paciente Conciente y Orientado
        function validateCOrientadoDescription() {
            // Verificar si alguno de los campos select tiene el valor "N"
            if (concienteSelect.value === 'N' || orientadoSelect.value === 'N') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_sn_centralInput.required = true;
                descripcion_sn_centralInput.disabled = false;
                descripcion_sn_centralInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_sn_centralInput.required = false;
                descripcion_sn_centralInput.disabled = true
                descripcion_sn_centralInput.value = "";
                descripcion_sn_centralInput.placeholder = "";
            }
            }
            
        //Signos Maningeos
        function validatesignosmaningeos() {
            // Verificar si alguno de los campos select tiene el valor "S"
            if (signos_maningeosSelect.value === 'S') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_signos_maningeosInput.required = true;
                descripcion_signos_maningeosInput.disabled = false;
                descripcion_signos_maningeosInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_signos_maningeosInput.required = false;
                descripcion_signos_maningeosInput.disabled = true
                descripcion_signos_maningeosInput.value = "";
                descripcion_signos_maningeosInput.placeholder = "";
            }
            }
        //Pares Craneales
        function validateparescraneales() {
            // Verificar si alguno de los campos select tiene el valor "S"
            if (pares_cranealesSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_pares_cranealesInput.required = true;
                descripcion_pares_cranealesInput.disabled = false;
                descripcion_pares_cranealesInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_pares_cranealesInput.required = false;
                descripcion_pares_cranealesInput.disabled = true
                descripcion_pares_cranealesInput.value = "";
                descripcion_pares_cranealesInput.placeholder = "";
            }
            }
        //Soma
        function validatesoma() {
            // Verificar si alguno de los campos select tiene el valor "S"
            if (somaSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_somaInput.required = true;
                descripcion_somaInput.disabled = false;
                descripcion_somaInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_somaInput.required = false;
                descripcion_somaInput.disabled = true
                descripcion_somaInput.value = "";
                descripcion_somaInput.placeholder = "";
            }
            }
            //Genital Urinario
        function validategenital_urinario() {
            // Verificar si alguno de los campos select tiene el valor "S"
            if (genital_urinarioSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                genital_urinario_descripcionInput.required = true;
                genital_urinario_descripcionInput.disabled = false;
                genital_urinario_descripcionInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                genital_urinario_descripcionInput.required = false;
                genital_urinario_descripcionInput.disabled = true
                genital_urinario_descripcionInput.value = "";
                genital_urinario_descripcionInput.placeholder = "";
            }
            }
        //Mamas Simetricas
        function validatemamas_simetricas() {
            // Verificar si alguno de los campos select tiene el valor "S"
            if (mamas_simetricasSelect.value === 'N') {
                // Hacer que el campo de texto sea obligatorio
                mamas_simetricas_descripcionInput.required = true;
                mamas_simetricas_descripcionInput.disabled = false;
                mamas_simetricas_descripcionInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                mamas_simetricas_descripcionInput.required = false;
                mamas_simetricas_descripcionInput.disabled = true
                mamas_simetricas_descripcionInput.value = "";
                mamas_simetricas_descripcionInput.placeholder = "";
            }
            }
        //Mamas Nodulos
        function validatemamas_nodulos() {
            // Verificar si alguno de los campos select tiene el valor "S"
            if (mamas_nodulosSelect.value === 'S') {
                // Hacer que el campo de texto sea obligatorio
                mamas_nodulos_descripcionInput.required = true;
                mamas_nodulos_descripcionInput.disabled = false;
                mamas_nodulos_descripcionInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                mamas_nodulos_descripcionInput.required = false;
                mamas_nodulos_descripcionInput.disabled = true
                mamas_nodulos_descripcionInput.value = "";
                mamas_nodulos_descripcionInput.placeholder = "";
            }
            }
        //Estado Pezon
        function validateestado_pezon() {
            // Verificar si alguno de los campos select tiene el valor "P"
            if (estado_pezonSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                estado_pezon_descripcionInput.required = true;
                estado_pezon_descripcionInput.disabled = false;
                estado_pezon_descripcionInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                estado_pezon_descripcionInput.required = false;
                estado_pezon_descripcionInput.disabled = true
                estado_pezon_descripcionInput.value = "";
                estado_pezon_descripcionInput.placeholder = "";
            }
            }
        //Estado Axila
        function validateestado_axila() {
            // Verificar si alguno de los campos select tiene el valor "P"
            if (estado_axilaSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                estado_axila_descripcionInput.required = true;
                estado_axila_descripcionInput.disabled = false;
                estado_axila_descripcionInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                estado_axila_descripcionInput.required = false;
                estado_axila_descripcionInput.disabled = true
                estado_axila_descripcionInput.value = "";
                estado_axila_descripcionInput.placeholder = "";
            }
            }
        //Genitales Externos
        function validategenital_externo() {
            // Verificar si alguno de los campos select tiene el valor "P"
            if (genital_externoSelect.value === 'P') {
                // Hacer que el campo de texto sea obligatorio
                descripcion_genital_externoInput.required = true;
                descripcion_genital_externoInput.disabled = false;
                descripcion_genital_externoInput.placeholder = "Campo Obligatorio";
                
                
            } else {
                // Hacer que el campo de texto no sea obligatorio
                descripcion_genital_externoInput.required = false;
                descripcion_genital_externoInput.disabled = true
                descripcion_genital_externoInput.value = "";
                descripcion_genital_externoInput.placeholder = "";
            }
            }
        //Peso
        function validatePeso() {
            const peso = pesoInput.value.trim();
        
            // Verificar si el valor ingresado son solo números
            if (!/^\d+$/.test(peso)) {
                pesoInput.classList.add('is-invalid');
                return;
            }
        
            const pesoNumber = parseInt(peso);
        
            // Verificar si el valor está dentro del rango válido
            if (isNaN(pesoNumber) || pesoNumber < 0 || pesoNumber > 500) {
                pesoInput.classList.add('is-invalid');
            } else {
                pesoInput.classList.remove('is-invalid');
            }
        }
        function validateTalla() {
            const talla = tallaInput.value.trim();
        
            // Verificar si el valor ingresado son solo números
            if (!/^\d+$/.test(talla)) {
                tallaInput.classList.add('is-invalid');
                return;
            }
        
            const tallaNumber = parseInt(talla);
        
            // Verificar si el valor está dentro del rango válido
            if (isNaN(tallaNumber) || tallaNumber < 100 || tallaNumber > 250) {
                tallaInput.classList.add('is-invalid');
            } else {
                tallaInput.classList.remove('is-invalid');
            }
            }
        function validateOrientacion() {
            const orientacion = orientacionInput.value.trim();
        
            // Verificar si el campo está vacío
            if (orientacion === '') {
                orientacionInput.classList.add('is-invalid');
            } else {
                orientacionInput.classList.remove('is-invalid');
            }
            }
        function validateProximaCita() {
            const proxCita = proxCitaInput.value.trim();
        
            // Verificar si se ha seleccionado una fecha
            if (proxCita === '') {
                proxCitaInput.classList.add('is-invalid');
                return;
            }
        
            // Convertir la fecha a un objeto Date
            const selectedDate = new Date(proxCita);
        
            // Verificar si la fecha seleccionada es válida y mayor o igual a la fecha actual
            if (isNaN(selectedDate) || selectedDate < new Date()) {
                proxCitaInput.classList.add('is-invalid');
            } else {
                proxCitaInput.classList.remove('is-invalid');
            }
            }
        //Calculo Indice Corporal
        function calculateBMI() {
            const weightInput = document.getElementById("peso");
            const heightInput = document.getElementById("talla");
            const resultInput = document.getElementById("indice_corporal");

            const weight = parseFloat(weightInput.value);
            const height = parseFloat(heightInput.value) / 100; // Convertir a metros

            if (isNaN(weight) || isNaN(height) || weight <= 0 || weight > 500 || height <= 0 || height > 250) {
                weightInput.classList.add("is-invalid");
                heightInput.classList.add("is-invalid");
                resultInput.value = "";
            } else {
                weightInput.classList.remove("is-invalid");
                heightInput.classList.remove("is-invalid");
                const bmi = weight / (height * height);
                resultInput.value = bmi.toFixed(2);
            }
        }
</script>

{% endblock %}